* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #001b39;
  color: #fff;
}

.heading-primary {
  color: #fff;
  background-color: #001524;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 4.2rem;
  text-align: center;
  padding: 4rem;
  margin-bottom: 6rem;
}

.heading-secondary {
  color: #ffd35b;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.description button {
  color: #fff;
  width: 18rem;
  padding: 1.8rem 2rem;
  font-size: 1, 4rem;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: #002f5d;
}

button:hover {
  background-color: #033d78;
}

.descr-prg {
  font-family: 'Indie Flower', sans-serif;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}
b {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.4rem;
}
.descr-prg span {
  color: rgba(255, 0, 0, 0.879);
}

.main-game {
  padding: 1.8rem;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 11rem;
}

.player-weapons {
  /* background-color: #1b9ac1; */
  display: flex;
  flex-direction: row;
  gap: 6rem;
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
}
.icons {
  font-size: 8rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weapon {
  background-color: #002f5d;
  border-radius: 11px;
  padding: 2rem 4rem;
  cursor: pointer;
}
.weapon:hover {
  background-color: #001524;
}

.players-choice {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  border-top: 0.2px solid rgba(255, 255, 255, 0.173);
}
.choice {
  padding-top: 9rem;
}

.computer-weapon {
  background-color: #002f5d;
  border-radius: 11px;
}

.descr-player {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
}
.descr-player span {
  font-size: 2.6rem;
}

.footer {
  font-family: sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 727px) {
  .heading-primary {
    font-size: 2.8rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .descr-prg {
    font-size: 1.8rem;
  }

  .descr-player {
    font-size: 1.2rem;
  }

  .icons {
    font-size: 6rem;
  }

  .weapon {
    font-size: 4rem;
  }

  .player-weapons {
    gap: 2rem;
    padding: 1.8rem;
  }

  .main-game {
    padding: 1.8rem;
    gap: 1rem;
  }

  .description {
    padding: 1.8rem;
  }

  .players-choice {
    gap: 8rem;
  }

  .choice {
    padding: 4rem;
  }
}

@media only screen and (max-width: 415px) {
  .weapon {
    font-size: 3rem;
  }

  .descr-player span {
    font-size: 2rem;
  }
}
